.fontStyle{
  font-family: Lato;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heading-title{
  @extend .fontStyle;
  color: #176bad;
  font-size: 24px;
  margin-top: 14px;
  margin-bottom: 16px;
  text-align: left;
  margin-left: 48px;
  height: 29px;
}


.card-container{
  margin-right: 340px;
  background-color: #f7f7f7;
  padding-top: 8px;
}


@media only screen and (max-width: 1099px) {
  .card-container{
    margin-right: 0px
  }
}

@media only screen and (max-width: 780px) {
  .card-container{
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 610px) {
  .card-container{
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 520px) and  (min-width: 420 ){
  .card-container{
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 420px) {
  .card-container{
    margin-right: 0px;
    margin-left: 0px;
  }
}



