$color: #ffff;

.fontStyles{
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.card{
  height: 57px;
  border: solid 1px #cccc;
  background-color: $color;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 48px;
  margin-right: 48px;
}

img.sourceImage{
    float: left;
    height: 35px;
    width: 35px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 8px;
    margin-right: 10px;
}


.title{
    @extend .fontStyles; 
    height: 21px;
    font-size: 16px;
    text-align:left;
    line-height: 1.31;
    color: #292929;
    margin-top: 10px;
}

.percentage{
    @extend .fontStyles;
    width: 42.7px;
    height: 35px;
    border-radius: 5px;
    background-color: #56b467;
    float:right;
    margin-right: 47.4px;
    line-height: 2em;
    margin-top: -38px;
    font-size: 14px;
    color: $color;
}

img.readmore{
    transform: rotate(450deg);
    float: right;
    width: 13px;
    height: 20px;
    padding: 0;
    margin-top: -40px;
    padding-left: 20px;
}

img.socialIcon{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

.timestamp{
    text-align: left;
}

span{
    @extend .fontStyles;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 11px;
}

.drawer{
    height: 44px;
    height: 44px;
  border-radius: 3px;
  border: solid 1px var(--white);
  background-color: #f7f7f7;
}
