.fontStyle{
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.header{
    height: 50px;
    background-color: white;
    border-bottom: solid 1px #cccc;
}


img.logo{
    float: left;
    margin-left: 12px;
    margin-top: 9px;
}

img.avatar{
    border-radius: 50%;
    float: right;
    height: 35px;
    width: 35px;
    margin-top: 8px;
    margin-right: 96px;
}


span.profile{
    font-size: 14px;
    color: #333333;
    float: right;
    margin-right: -105px;
    margin-top: 17px;
    cursor: pointer;
}

.profile-drop{
    float: right;
    width: 7px;
    height: 7px;
    margin-right: -118px;
    margin-top: 23px;
}

.profile-drop.up{
    transform: rotate(180deg);
}

.heading-title{
    @extend .fontStyle;
    color: #176bad;
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 16px;
    text-align: left;
    margin-left: 48px;
    height: 29px;
}

.profile-section{
    width: 149px;
    float: right;
    background-color: #eeeeee;
    padding-bottom: 5px;
}

.signout.hide{
    display: none;
}

.signout{
    @extend .fontStyle;
    font-size: 14px;
    width: 129px;
    height: 32px;
    background-color: white;
    float: right;
    padding-top: 2px;
    text-align: left;
    margin-left: 20px;
    margin-top: -1px;
    padding: 10px;
}